In [144]:
import pandas as pd

In [145]:
data = {
    'Name': ['John Doe', 'Anna Smith', 'Peter Johnson', 'Linda Lee', 'Sara Ku', 'David Huang', 'Laura Le', 'James J', 'Emily Wang', 'Donald Trump'],
    'Age': [28, 24, 35, 32, 40, 22, 29, 31, 27, 25],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Income': [50000, 60000, 55000, 65000, 70000, 48000, 52000, 61000, 59000, 53000],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Marital_Status': ['Single', 'Married', 'Single', 'Married', 'Single', 'Married', 'Single', 'Married', 'Single', 'Married'],
    'Children': [0, 1, 2, 3, 1, 0, 2, 1, 0, 1],
    'Employment_Status': ['Employed', 'Employed', 'Unemployed', 'Employed', 'Self-employed', 'Unemployed', 'Employed', 'Self-employed', 'Employed', 'Employed'],
    'Education_Level': ['Bachelor', 'Master', 'PhD', 'Bachelor', 'Master', 'PhD', 'Bachelor', 'Master', 'PhD', 'Bachelor'],
    'Years_of_Experience': [5, 3, 10, 8, 12, 2, 6, 9, 4, 3]
}

df = pd.DataFrame(data)

df.head()

,Name,Age,Gender,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience
0,John Doe,28,Male,50000,New York,Single,0,Employed,Bachelor,5
1,Anna Smith,24,Female,60000,Los Angeles,Married,1,Employed,Master,3
2,Peter Johnson,35,Male,55000,Chicago,Single,2,Unemployed,PhD,10
3,Linda Lee,32,Female,65000,Houston,Married,3,Employed,Bachelor,8
4,Sara Ku,40,Male,70000,Phoenix,Single,1,Self-employed,Master,12

### 輸出文件

In [146]:
# 將 DataFrame 輸出為 CSV 文件
df.to_csv('output.csv', index=False)

# 將 DataFrame 輸出為 Excel 文件
df.to_excel('output.xlsx', index=False)

# 將 DataFrame 輸出為 Pickle 文件
df.to_pickle('output.pickle')

### 讀取文件

In [147]:
df = pd.read_pickle('output.pickle')

df.head(5)

,Name,Age,Gender,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience
0,John Doe,28,Male,50000,New York,Single,0,Employed,Bachelor,5
1,Anna Smith,24,Female,60000,Los Angeles,Married,1,Employed,Master,3
2,Peter Johnson,35,Male,55000,Chicago,Single,2,Unemployed,PhD,10
3,Linda Lee,32,Female,65000,Houston,Married,3,Employed,Bachelor,8
4,Sara Ku,40,Male,70000,Phoenix,Single,1,Self-employed,Master,12

In [148]:
# To Do

## 資料分析

### 描述性統計

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 10 non-null     object
 1   Age                  10 non-null     int64
 2   Gender               10 non-null     object
 3   Income               10 non-null     int64
 4   City                 10 non-null     object
 5   Marital_Status       10 non-null     object
 6   Children             10 non-null     int64
 7   Employment_Status    10 non-null     object
 8   Education_Level      10 non-null     object
 9   Years_of_Experience  10 non-null     int64
dtypes: int64(4), object(6)
memory usage: 928.0+ bytes

In [150]:
df.describe()

             Age        Income   Children  Years_of_Experience
count  10.000000     10.000000  10.000000            10.000000
mean   29.300000  57300.000000   1.100000             6.200000
std     5.417051   6961.002482   0.994429             3.392803
min    22.000000  48000.000000   0.000000             2.000000
25%    25.500000  52250.000000   0.250000             3.250000
50%    28.500000  57000.000000   1.000000             5.500000
75%    31.750000  60750.000000   1.750000             8.750000
max    40.000000  70000.000000   3.000000            12.000000

### 分組統計

- `mean`: is average of a data set is found by adding all numbers in the data set and then dividing by the number of values in the set.
- `median` is the middle value when a data set is ordered from least to greatest.
- `mode` is the number that occurs most often in a data set.

In [151]:
# 依性別分組並計算平均年齡
grouped_df = df.groupby('Gender')['Age'].mean()
print(grouped_df)

Gender
Female    26.8
Male      31.8
Name: Age, dtype: float64

In [152]:
# To Do 我要分組並計算收入中位數

### 數值計數

In [153]:
# 計算每個性別的出現次數
gender_counts = df['Gender'].value_counts()
print(gender_counts)

Gender
Male      5
Female    5
Name: count, dtype: int64

### 資料篩選

In [154]:
# 篩選出年齡大於30的資料
filtered_df = df[df['Age'] > 35]
filtered_df

,Name,Age,Gender,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience
4,Sara Ku,40,Male,70000,Phoenix,Single,1,Self-employed,Master,12

## 資料清理

### 處理缺失值

In [155]:
# 檢查缺失值
print(df.isnull().sum())

Name                   0
Age                    0
Gender                 0
Income                 0
City                   0
Marital_Status         0
Children               0
Employment_Status      0
Education_Level        0
Years_of_Experience    0
dtype: int64

In [156]:
import numpy as np

# 設置隨機種子以便結果可重現
np.random.seed(0)

# 計算需要設置為缺失值的總數量
nan_fraction = 0.1  # 10% 的數據設置為 NaN
num_nans = int(np.floor(nan_fraction * df.size))

# 獲取 DataFrame 的所有欄位
columns_to_select = df.columns

# 隨機選擇行和列
for _ in range(num_nans):
    row = np.random.choice(df.index)
    col = np.random.choice(columns_to_select)
    df.at[row, col] = np.nan

# 檢查每個欄位的缺失值
missing_values = df.isnull().sum()
print(missing_values)

Name                   1
Age                    1
Gender                 0
Income                 1
City                   1
Marital_Status         1
Children               2
Employment_Status      1
Education_Level        1
Years_of_Experience    1
dtype: int64

In [157]:
df.head(10)

,Name,Age,Gender,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience
0,John Doe,28.0,Male,50000.0,New York,Single,0.0,Employed,Bachelor,5.0
1,Anna Smith,24.0,Female,60000.0,Los Angeles,Married,NaN,Employed,Master,3.0
2,Peter Johnson,35.0,Male,55000.0,NaN,Single,2.0,Unemployed,PhD,10.0
3,Linda Lee,32.0,Female,NaN,Houston,NaN,3.0,Employed,Bachelor,8.0
4,Sara Ku,40.0,Male,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0
5,NaN,22.0,Female,48000.0,Philadelphia,Married,0.0,Unemployed,PhD,2.0
6,Laura Le,29.0,Male,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0
7,James J,31.0,Female,61000.0,San Diego,Married,NaN,NaN,Master,NaN
8,Emily Wang,NaN,Male,59000.0,Dallas,Single,0.0,Employed,NaN,4.0
9,Donald Trump,25.0,Female,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0

In [158]:
# 填補缺失值
df['Age'].fillna(df['Age'].median(), inplace=True)

In [159]:
# To Do 使用平均數填補欄位Income

In [160]:
# To Do 使用眾數填補欄位Children

In [161]:
# 刪除含有缺失值的行
df.dropna(inplace=True)

In [162]:
df.head(10)

,Name,Age,Gender,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience
0,John Doe,28.0,Male,50000.0,New York,Single,0.0,Employed,Bachelor,5.0
4,Sara Ku,40.0,Male,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0
6,Laura Le,29.0,Male,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0
9,Donald Trump,25.0,Female,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0

## 改變資料類型

In [163]:
type(df['Age'][0])

numpy.float64

In [164]:
# 將 'Age' 欄位轉換為整數型
df['Age'] = df['Age'].astype(int)

In [165]:
type(df['Age'][0])

numpy.int64

### 處理連續型數值

In [166]:
df['Age'][0:]

0    28
4    40
6    29
9    25
Name: Age, dtype: int64

標準化公式

$$Z=\frac{X-\mu}{\sigma}$$

$$\begin{array}{l}\bullet\quad Z\text{是標準化後的數值}\\ \bullet\quad X\text{是原始數值}\\ \bullet\quad\mu\text{是數值的平均值}\\ \bullet\quad\sigma\text{是數值的標準差}\end{array}$$

In [167]:
# 標準化連續型數值
df['Age'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()

In [168]:
df['Age'][0:]

0   -0.381246
4    1.448736
6   -0.228748
9   -0.838742
Name: Age, dtype: float64

### 處理類別數值

In [169]:
unique_genders = df['Gender'].unique()
print(unique_genders)

['Male' 'Female']

In [170]:
# 使用 replace 方法轉換類別數值
df['Gender1'] = df['Gender'].replace({'Male': 0, 'Female': 1})
df.head(10)

,Name,Age,Gender,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience,Gender1
0,John Doe,-0.381246,Male,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0
4,Sara Ku,1.448736,Male,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0
6,Laura Le,-0.228748,Male,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0
9,Donald Trump,-0.838742,Female,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1

### 使用 one-hot 編碼

In [171]:
# 對類別數值進行 one-hot 編碼
df = pd.get_dummies(df, columns=['Gender'], prefix='Gender', dtype=int)
df.head(10)

,Name,Age,Income,City,Marital_Status,Children,Employment_Status,Education_Level,Years_of_Experience,Gender1,Gender_Female,Gender_Male
0,John Doe,-0.381246,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0,0,1
4,Sara Ku,1.448736,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0,0,1
6,Laura Le,-0.228748,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0,0,1
9,Donald Trump,-0.838742,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1,1,0

### 刪除重複資料

In [172]:
# 刪除重複資料
df.drop_duplicates(inplace=True)

### 重新命名欄位

In [173]:
# 重新命名欄位
df.rename(columns={'Name': 'Full Name', 'Children': 'Children (count)'}, inplace=True)
df.head(10)

,Full Name,Age,Income,City,Marital_Status,Children (count),Employment_Status,Education_Level,Years_of_Experience,Gender1,Gender_Female,Gender_Male
0,John Doe,-0.381246,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0,0,1
4,Sara Ku,1.448736,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0,0,1
6,Laura Le,-0.228748,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0,0,1
9,Donald Trump,-0.838742,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1,1,0

### 刪除特定欄位

In [174]:
df = df.drop(['Gender1'], axis=1)
df.head(10)

,Full Name,Age,Income,City,Marital_Status,Children (count),Employment_Status,Education_Level,Years_of_Experience,Gender_Female,Gender_Male
0,John Doe,-0.381246,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0,1
4,Sara Ku,1.448736,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0,1
6,Laura Le,-0.228748,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0,1
9,Donald Trump,-0.838742,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1,0

### 拆分欄位

In [175]:
# 使用 str.split 方法拆分 Full Name 列
name_split = df['Full Name'].str.split(' ', n=1, expand=True)
name_split.columns = ['First Name', 'Last Name']

In [176]:
name_split

  First Name Last Name
0       John       Doe
4       Sara        Ku
6      Laura        Le
9     Donald     Trump

In [177]:
# Methods 2
df[['First Name', 'Last Name']] = df['Full Name'].str.split(' ', n=1, expand=True)
df.head()

,Full Name,Age,Income,City,Marital_Status,Children (count),Employment_Status,Education_Level,Years_of_Experience,Gender_Female,Gender_Male,First Name,Last Name
0,John Doe,-0.381246,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0,1,John,Doe
4,Sara Ku,1.448736,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0,1,Sara,Ku
6,Laura Le,-0.228748,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0,1,Laura,Le
9,Donald Trump,-0.838742,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1,0,Donald,Trump

### 合併欄位

In [178]:
# 使用 concat 方法合併 DataFrame
df = pd.concat([df, name_split], axis=1)
df.head()

,Full Name,Age,Income,City,Marital_Status,Children (count),Employment_Status,Education_Level,Years_of_Experience,Gender_Female,Gender_Male,First Name,Last Name,First Name,Last Name
0,John Doe,-0.381246,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0,1,John,Doe,John,Doe
4,Sara Ku,1.448736,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0,1,Sara,Ku,Sara,Ku
6,Laura Le,-0.228748,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0,1,Laura,Le,Laura,Le
9,Donald Trump,-0.838742,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1,0,Donald,Trump,Donald,Trump

In [179]:
df = df.drop(['First Name'], axis=1)
df.head()

,Full Name,Age,Income,City,Marital_Status,Children (count),Employment_Status,Education_Level,Years_of_Experience,Gender_Female,Gender_Male,Last Name,Last Name
0,John Doe,-0.381246,50000.0,New York,Single,0.0,Employed,Bachelor,5.0,0,1,Doe,Doe
4,Sara Ku,1.448736,70000.0,Phoenix,Single,1.0,Self-employed,Master,12.0,0,1,Ku,Ku
6,Laura Le,-0.228748,52000.0,San Antonio,Single,2.0,Employed,Bachelor,6.0,0,1,Le,Le
9,Donald Trump,-0.838742,53000.0,San Jose,Married,1.0,Employed,Bachelor,3.0,1,0,Trump,Trump